@import "tailwindcss";

@theme {
  --color-background: #0f1418;
  --animate-marquee: marquee 25s linear infinite;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
